:root{
    --dark:#1b1b22;
    --primary:#3DCFD3;
    --dark-light: #32323a;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --main-color: #e98b2c;
    
}
*{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
}
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #040404;
  
    
}


/* ============header section ==========*/
.about-img{
    margin-left: -100px;
    right: -60px;
   }
.hero-text{
    margin-top: 150px;
}  
.position-absolute{
    font-weight: 700;
    
  }
  
  .typed-cursor {
    font-size: 45px;
    color: #ffffff;
  }

  .home_social{
    display: flex;
    flex-direction: column;
  }

  .home_social-icon{
    width:max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
  }
  /*============navigation menu=========*/
 a{
     color: #fafafa;
     text-decoration: none;
     
     
 }
 a:hover{
     color: #036e8f;
 }
 .navbar {
    display: none;
    background-color:#040404 ;
  }
  
  .navbar .navbar-nav .nav-link {
    padding: 25px 10px;
    color: #ffffff;
    font-weight: 500;
    outline: none;
  }
  
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: #036e8f;
  }
  @media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
      padding: 10px 0;
    }
  }
  
  .collapse navbar-collapse{
    color: #fafafa;
  }

  .blue{
    background-color: #1c5ce6;
    color: #ffffff;
  }
}
.btn{
  border: 2px solid rgb(29, 105, 247);
} 
.btn-white{
  background-color: #ffffff;
  border:2px solid #ffffff;
}
.btn-light:hover{
 background-color:rgb(11, 52, 100);
 color:#fff;
} 
}
.btn-blue{
  border: 2.4px solid #ffffff;
  color: #ffffff;
}

@media (max-width: 700px) {
  .about-img{
    margin-left: 20px;
    right: 0px;
    top: 30px;
   }
}


/*================Qualification===========*/
.ex-me{
  margin-top: 35px;
}


/*===============SKILLS===========*/

.skills-h4{
  padding-bottom: 50px;
}

.skills-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  text-align:center; 
}

.skills-box{
  box-shadow: 2px 7px 7px rgba(252, 250, 250, 0.1);  
  margin-left: 20px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Poppins;
}
.skills-box:hover{
  box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 
  color:#fff;
}

.skills-box h4{
color: rgb(22, 66, 107);
}

/*=================Projects==============*/
.projects {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  flex: 1;
}

.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
 
}








/*===============Illustration=============*/
.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}

/*==================gallery===============*/
.carousel-cell {
  margin-right: 50px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 300px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 600px;
  }
}


/*===============contact===============*/

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  margin-top: 80px;
  box-sizing: border-box;
}

.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
 
}

.container .contactInfo .box{
position: relative;
padding: 20px 0;
display: flex;
}

.container .contactInfo .box .icon {
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
  line-height: 40px;
  text-align:center;
}
  
.container .contactInfo .box .text{ 
  display: flex;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
  font-family: Poppins;

}
.container .contactInfo .box .text h5{ 
  font-weight: 500;
  font-size: 16px;
  color:#036e8f;
}


.contactForm{
  
  width: 40%;
 padding: 50px;
  background-color: #fff;
  
}

.contactForm h2 {
  font-size: 25px;
  color:#333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 25px;
 
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
 {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin:10px;
  border: none;
  border-bottom: 2px solid #333;
  outline:none;
  resize: none;
 }
 .contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 0;
  font-size: 14px;
  margin-top: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;

}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background-color: #036e8f;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px)
{
  .content{
    padding: 50px;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }
  .container .contactInfo{
    width: 100%;
  }

}

.maps iframe {
  width: 100%;
  height: 100%;

 }



 /*===============back to top=========*/
.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  text-align: center;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}
